body{
	background: red;
}
#ejemplillo{
	color: white;
}
#texto_mediano{
	font-size: 25px;
}
#texto_mediano2{
	font-size: 25px;
}
#texto_mediano3{
	font-size: 25px;
}
#texto_mediano4{
	font-size: 25px;
}
#texto_mediano5{
	font-size: 25px;
}
#texto_mediano6{
	font-size: 25px;
}
#texto_mediano7{
	font-size: 25px;
}
#texto_mediano8{
	font-size: 25px;
}
#texto_mediano9{
	font-size: 25px;
}
#texto_mediano10{
	font-size: 25px;
}
#texto_mediano11{
	font-size: 25px;
